<mat-toolbar>
    <mat-toolbar-row>
        <span>Welcome!</span>
        <span class="example-spacer"></span>
        <button mat-button (click)="signout()"><span>Logout</span><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon></button>
      </mat-toolbar-row>
</mat-toolbar>
<mat-card>
 <p>
   <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laboriosam aut veniam labore accusamus explicabo quidem adipisci repudiandae enim harum. Sint, voluptatum tempore deserunt quam sunt inventore animi consectetur ratione!</span>
   <span>Animi id, amet aliquid voluptas quidem dolores atque architecto unde, eligendi quisquam ratione natus laboriosam, qui neque doloremque tempore exercitationem non ducimus. Vitae, aperiam! Iure laudantium harum sequi numquam dignissimos!</span>
   <span>Iusto maiores mollitia ipsum non dolorum odit quisquam ipsa minus necessitatibus! Incidunt amet aperiam sint, officiis tempora, illum, quasi omnis debitis eos distinctio consequatur magni vel voluptas labore nihil culpa?</span>
   <span>Consectetur beatae, veritatis commodi aut delectus sint deserunt, porro sapiente necessitatibus ducimus omnis doloremque soluta saepe numquam cumque obcaecati odit vel molestias quos harum iusto! Sed molestias beatae saepe excepturi!</span>
   <span>Incidunt voluptatum modi omnis autem natus quidem repudiandae provident, tempore tempora expedita perspiciatis similique optio laborum minima deleniti tenetur ducimus asperiores. Repudiandae tenetur autem rem dolore, a perspiciatis ad dolor.</span>
   
 </p>
</mat-card>